@model IEnumerable<CabBookingEntity.User>

<table border="2">
    <thead><h2>Customers</h2></thead>
    <tr><td><b>First Name</b></td><td><b>Last Name</b></td><td><b>Mobile</b></td><td><b>Mail Id</b></td></tr>
    @foreach(var result in Model)
    {
        <tr><td>@result.FirstName</td><td>@result.LastName</td><td>@result.MobileNumber</td><td>@result.MailId</td><td>@Html.ActionLink("Delete","DeleteCustomer",new {id=result.UserId },new { Onclick="return confirm('Are You sure to delete')"})</td></tr>
    }
</table>

