@model IEnumerable<CabBookingEntity.User>

@{
    ViewBag.Title = "DisplayUser";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>DisplayUser</h2>
<table>
    <thead>customers</thead>
    <tr><td>First Name</td><td>Last Name</td><td>Mobile</td><td>Mail Id</td></tr>
    @foreach(var result in Model)
    {
        <tr><td>@result.FirstName</td><td>@result.LastName</td><td>@result.MobileNumber</td><td>@result.MailId</td><td>@Html.ActionLink("Delete","DeleteCustomer",new {id=result.UserId },new { Onclick="return confirm('Are You sure to delete')"})</td></tr>
    }
</table>

