@model CabBookingEntity.User

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
@using (Html.BeginForm("Edit", "Admin", FormMethod.Post))
{
    <table cellpadding="10">
        <tr>
            <td>
                @Html.Label("First Name")
            </td>
            <td>
                @Html.TextBoxFor(Model => Model.FirstName)
                @Html.ValidationMessageFor(model => model.FirstName)
            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("Last Name")
            </td>
            <td>
                @Html.TextBoxFor(Model => Model.LastName)
                @Html.ValidationMessageFor(model => model.LastName)
            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("Mobile Number")
            </td>
            <td>
                @Html.TextBoxFor(Model => Model.MobileNumber)
                @Html.ValidationMessageFor(model => model.MobileNumber)
            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("Mail Id")
            </td>
            <td>
                @Html.TextBoxFor(Model => Model.MailId)
                @Html.ValidationMessageFor(model => model.MailId)
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
                <input type="submit" />
            </td>
        </tr>
    </table>
}

