@model IEnumerable<CabBookingEntity.Location>


<h2>Location Handling</h2>
<table cellpadding="10" border="1">
    @*<tr>
        <td colspan="2">@Html.ActionLink("Add Location", "AddLocation")</td>
    </tr>*@
    <tr><td><b>City Name</b></td><td><b>District Name</b></td><td colspan="3">@Html.ActionLink("Add New Location", "AddLocation")</td></tr>
    @foreach (var result in Model)
    {
        <tr><td>@result.CityName</td><td>@result.DistrictName</td><td>@Html.ActionLink("Edit", "Edit", new { id = result.LocationId })</td><td>@Html.ActionLink("Delete","Delete", new { id = result.LocationId },new { Onclick = "return confirm('The Areas in the Location also be deleted...Are You sure to delete the location ?')" })</td><td>@Html.ActionLink("Manage Areas","ManageArea","Area", new { id = result.LocationId },new { @class = "Index" })</td></tr>
    }
    <tr></tr>
</table>

