@model IEnumerable<CabBookingEntity.Location>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<table>
    <tr>
        <td colspan="2">@Html.ActionLink("Add Location", "AddLocation")</td>
    </tr>
    <tr><td>City Name</td><td>District Name</td></tr>
    @foreach (var result in Model)
    {
        <tr><td>@result.CityName</td><td>@result.DistrictName</td><td>@Html.ActionLink("Edit", "Edit", new { id = result.LocationId })</td><td>@Html.ActionLink("Delete","Delete", new { id = result.LocationId })</td></tr>
    }
    <tr></tr>
</table>

