<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/StyleSheet.css" />
</head>
<body>
    <header class="main-header">
        <div class="container">
            <h1 style="text-align:center;">Online Cab Booking</h1>
        </div>
    </header>
    <nav class="navbar">
        <div class="container">
            <div>
                @if (Session["FirstName"] == null)
                {
                    <ul style="float:left">
                        <li>@Html.ActionLink("Home", "Index", "User")</li>
                        <li>@Html.ActionLink("Sign In", "SignIn", "User")</li>
                        <li>@Html.ActionLink("Sign Up", "SignUp", "User")</li>
                    </ul>
                }
                @if (Session["FirstName"] != null)
                {
                    <ul style="float:left">
                        <li>@Html.ActionLink("Home", "Index", "User",null,new { Onclick = "return confirm('Oops...You Will be directed to log out.. Are you sure')" })</li>
                        <li>@Html.ActionLink("Sign In", "SignIn", "User",null,new { Onclick = "return confirm('Oops...You Will be directed to log out.. Are you sure')" })</li>
                        <li>@Html.ActionLink("Sign Up", "SignUp", "User",null,new { Onclick = "return confirm('Oops...You Will be directed to log out.. Are you sure')" })</li>
                    </ul>
                    <ul style="float:right">
                        <li><b><i>Hello @Session["FirstName"]! &nbsp;</i></b></li>
                        <li>@Html.ActionLink("Logout", "LogOut", "User",null, new { Onclick = "return confirm('You Will be logged out.. Are you sure')" })</li>
                    </ul>
                }
            </div>
        </div>
    </nav>
    
    <div class="container">
        <section class="showcase">
            @RenderBody()
        </section>
    </div>
    
    @*<div class="container">
        <section class="main">

        </section>
        <aside class="sidebar">

        </aside>
    </div>
    <footer class="main-footer">
        <p>Copyright &copy; 2020 Online Cab Booking</p>
    </footer>*@
</body>
</html>

