<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/StyleSheet.css" />
</head>
<body>
    <header class="main-header">
        <div class="container">
            <h1 style="text-align:center;">Online Cab Booking</h1>
        </div>
    </header>
    <nav class="navbar">
        <div class="container">

            <ul style="float:left">
                <li>@Html.ActionLink("Home", "Index", "User")</li>

                @if (HttpContext.Current.User.Identity.IsAuthenticated)
                {

                }
                else
                {
                    <li>@Html.ActionLink("Sign In", "SignIn", "User")</li>
                    <li>@Html.ActionLink("Sign Up", "SignUp", "User")</li>

                }
            </ul>

            @if (HttpContext.Current.User.Identity.IsAuthenticated)
            {
                <ul style="float:right">
                    <li><b><i>Hello @Session["FirstName"]! &nbsp;</i></b></li>
                    <li>@Html.ActionLink("Logout", "LogOut", "User", null, new { Onclick = "return confirm('You Will be logged out.. Are you sure')" })</li>
                </ul>
            }
            @if (HttpContext.Current.User.IsInRole("Admin"))
            { 
            <ul style="float:left">
                <li>@Html.ActionLink("View Customers", "DisplayCustomer", "Admin")</li>
                <li>@Html.ActionLink("View Drivers", "DisplayDriver", "Admin")</li>
                <li>@Html.ActionLink("Handle Locations", "Index", "Location")</li>
                <hli>@Html.ActionLink("Add User", "AddAdmin", "Admin")</hli>
            </ul>
            }
            @if (HttpContext.Current.User.IsInRole("Customer"))
            {
                <ul style="float:left">
                    <li>@Html.ActionLink("Book Ride", "displaylocation", "location")</li>
                </ul>
            }
            @if (HttpContext.Current.User.IsInRole("Driver"))
            {
                <ul style="float:left">
                    <li>@Html.ActionLink("See Areas", "displaylocation", "location")</li>
                </ul>
            }

        </div>
    </nav>

    <div class="container">
        <section class="showcase" >
            @RenderBody()
        </section>
    </div>
</body>
</html>

