@{
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}
<head>
    <link rel="stylesheet" href="~/Content/StyleSheet.css" />
</head>
<body>
    <div class="admin_nav">
        <ul>
            <li>@Html.ActionLink("Home", "Home", "Admin")</li>
            <li>Gii</li>
            <li>@Html.ActionLink("View Customers", "DisplayCustomer", "Admin")</li>
            <li>@Html.ActionLink("View Drivers", "DisplayDriver", "Admin")</li>
            <li>@Html.ActionLink("Handle Locations", "Index", "Location")</li>
            <li>@Html.ActionLink("Add New Admin", "AddAdmin", "Admin")</li>
        </ul>
    </div>
    <div style="float:left;align-content:center;">
        @RenderBody()
    </div>
</body>

