@model OnlineCabBooking.Models.SignInVM

@{
    ViewBag.Title = "SignIn";
}
<h2>SignIn</h2>
<h2>@ViewBag.value</h2>
@using (Html.BeginForm("SignIn", "User", FormMethod.Post))
{

    <table>
        <tr>
            <td>
                @Html.Label("Mail Id")
            </td>
            <td>
                @Html.TextBoxFor(Model => Model.MailId)
                @Html.ValidationMessageFor(model => model.MailId)
            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("Password")
            </td>
            <td>
                @Html.PasswordFor(Model => Model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
                <input type="submit" />
            </td>
        </tr>
    </table>
}

